@using Microsoft.AspNetCore.Http.Extensions
@model Vidos.Services.Models.ViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Продуктови детайли</h1>
			</div>
		</div>
	</div>
</div>
        
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="product-image-large">
                    <img src="~/@Model.ImagePath" alt="Item Name">
                </div>
            </div>

            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <td><b>Име</b></td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td><b>Цена</b></td>
                        <td>
                            <div>@Model.Price &#1083;&#1074;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form asp-controller="Cart" asp-action="AddToCart"
                                  asp-route-productId="@Model.Id"
                                  asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
                                <button type="submit"
                                        class="btn btn-success btn-sm">
                                    Добави в количка
                                </button>
                            </form> 
                        </td>
                    </tr>
                </table>
            </div>
                        
            <div class="col-sm-12" id="parent">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#description">
                            Описание
                        </a>
                    </div>
                    <div id="description" class="collapse show" data-parent="#parent">
                        <div class="card-body">
                            @Model.Description
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#specification">
                                Спецификации
                            </a>
                        </div>
                        <div id="specification" class="collapse show" data-parent="#parent">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tr>
                                        <td class="col-sm-4">Марка</td>
                                        <td class="col-sm-8">@Model.BrandName</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">Произход</td>
                                        <td class="col-sm-8">@Model.Origin</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">Номинална консумация (охлаждане)</td>
                                        <td class="col-sm-8">@Model.CoolingConsumption kW</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">Номинална консумация (отопление)</td>
                                        <td class="col-sm-8">@Model.HeatingConsumption kW</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">Капацитет охлаждане</td>
                                        <td class="col-sm-8">@Model.Cooling kW</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">Капацитет на затопляне</td>
                                        <td class="col-sm-8">@Model.Heating kW</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>

<div class="row">
    <a href="@Model.ReturnUrl" class="btn btn-primary">Обратно</a>
</div>
