@model Vidos.Services.Models.ViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.</h2>

<div>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/@Model.ImagePath" />
        </div>
        <div class="col-sm-4">
             <label></label>
            <p class="text-xl-center">
                @Model.Description
            </p>
        </div>
    </div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cooling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cooling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Heating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Heating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatingConsumption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatingConsumption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoolingConsumption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoolingConsumption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="All">Back to List</a>
</div>
