@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using Vidos.Data.Models
@using Vidos.Web.Common.Constants
@model Vidos.Services.Models.Product.ViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

@inject UserManager<VidosUser> UserManager

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Продуктови детайли</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="product-image-large">
                    <img class="img-fluid" src="~/@Model.ImagePath" alt="@Model.Name">
                </div>
            </div>

            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <td><b>Име</b></td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td><b>Цена</b></td>
                        <td>
                            <div>@Model.Price &#1083;&#1074;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form asp-controller="Cart" asp-action="AddToCart"
                                  asp-route-productId="@Model.Id"
                                  asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
                                <button type="submit"
                                        class="btn btn-success btn-sm">
                                    Добави в количка
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-12" id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#description">
                            Описание
                        </a>
                    </div>
                    <div id="description" class="collapse show">
                        <div class="card-body">
                            @Model.Description
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#specification">
                            Спецификации
                        </a>
                    </div>
                    <div id="specification" class="collapse show">
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <td class="col-sm-4">Марка</td>
                                    <td class="col-sm-8">@Model.BrandName</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4">Произход</td>
                                    <td class="col-sm-8">@Model.Origin</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4">Номинална консумация (охлаждане)</td>
                                    <td class="col-sm-8">@Model.CoolingConsumption kW</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4">Номинална консумация (отопление)</td>
                                    <td class="col-sm-8">@Model.HeatingConsumption kW</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4">Капацитет охлаждане</td>
                                    <td class="col-sm-8">@Model.Cooling kW</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4">Капацитет на затопляне</td>
                                    <td class="col-sm-8">@Model.Heating kW</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#reviews">
                            Отзиви
                        </a>
                    </div>
                    <div id="reviews" class="collapse show">
                        @if (!User.IsInRole(Constants.GuestRole))
                        {
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-primary" href="@Url.Action("Create", "Review", new {area = Constants.ShoppingArea, productId = Model.Id})">
                                    Добави Отзив
                                </a>
                            </div>    
                            <hr/>    
                        }
                        
                        <div class="card-body">
                            @foreach (var review in @Model.Reviews)
                            {
                                <h3>@review.Rating/@Constants.MaxRating</h3>
                                <p>@review.Body</p>
                                <h3>@review.Author</h3>
                                <hr/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <a href="@Model.ReturnUrl" class="btn btn-primary">Обратно</a>
</div>
