@using Vidos.Web.Common.Constants
@model IEnumerable<Vidos.Services.Models.Order.ViewModels.ListOrdersClientViewModel>

@{
    this.ViewData["Title"] = "My Orders";
}

<table id="OrderTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Line1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                Опции
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Line1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShipped)
            </td>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </div>   
            </td>
            <td>
                @Html.ActionLink(
                    "Детайли", 
                    "Details",
                    "Order",
                    new { area = Constants.ManageOrderArea, id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/momentjs/moment.min.js"></script>
    <script src="~/js/ListClientOrders.js"></script>
}
