@model Vidos.Services.Models.ViewModels.CartViewModel

<h2>Вашета количка</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Количество</th>
        <th>Продукт</th>
        <th>Цена(1)</th>
        <th>Цена(всички)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Items)
    {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.AirConditioner.Name</td>
            <td class="text-right">@line.AirConditioner.Price&#1083;&#1074;</td>
            <td class="text-right">
                @((line.Quantity * line.AirConditioner.Price))&#1083;&#1074;
            </td>
            <td>
                <form asp-action="RemoveFromCart" method="post"
                      asp-route-productId="@line.AirConditioner.Id"
                      asp-route-returnUrl="@Model.ReturnUrl">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Премахни
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Общо</td>
        <td class="text-right">
            @Model.TotalValue&#1083;&#1074;
        </td>
    </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продължи пазаруването</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">Поръчай</a>
</div>