@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<Vidos.Services.Models.ViewModels.AllProductsViewModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-sm-4">
            <div class="shop-item">
                <div class="image">
                    <a href="@Url.Action("Details", "Products", new {id = product.Id, returnUrl = ViewContext.HttpContext.Request.GetEncodedPathAndQuery()})">
                        <img src="~/@product.ImagePath" alt="@product.Name"/>
                    </a>
                </div>
                <div class="title">
                    <h3>@product.Name</h3>
                </div>
                <div class="price">
                    @product.Price &#1083;&#1074
                </div>
                <div class="description">
                    <p>
                        @product.Description
                    </p>
                </div>
            </div>           
        </div>
    }
</div>